<header id="content-header">
	<h1><%= pluralize(@users.size, "user") %></h1>
</header>

<ul id="users">
	<% @users.each do |user| %>
		<li>
			<%= link_to(user.name, user_path(user.id)) %>
		</li>
	<% end %>
</ul>