header#page-header {
	color: #f0f0f0;
	background: #237cbe;
	padding: 5px;
}

footer#page-footer {
	color: #237cbe;
	background: #f0f0f0;
	text-align: center;
	padding: 5px;
}

aside#sidebar {
	float: right;
	background: #f0f0f0;
	width: 200px;
}