<header id="page-header">
	<div id="masthead">
		<h1><%= link_to("Flix", root_path) %></h1>
		<nav>
			<p>
				<!-- User session hash and it's user_id key to display the name of the signed in user. -->
				<%= User.find(session[:user_id]).name %>
				<%= link_to("Sign Up", signup_path, class: "button") %>
				<%= link_to("Sign In", signin_path, class: "button") %>
			</p>
		</nav>
	</div>
</header>